# Node
node_modules/
dist/
coverage/
.env
.env.local
.env.*.local

# Python
__pycache__/
*.pyc

# Backend
backend/package-lock.json
backend/lambda-package

# Database
database/*.sqlite
database/*.db

# AWS/IaC
infra/.terraform/
infrastructure/.aws-sam/

# Ignore CDK output
infra/cdk.out/
infra/package-lock.json

# Logs
logs/
*.log

# IDE
.vscode/
.idea/
.DS_Store