# Node
node_modules/
dist/
.env
.env.local
.env.*.local

# Python
__pycache__/
*.pyc

# Database
database/*.sqlite
database/*.db

# AWS/IaC
infra/.terraform/
infrastructure/.aws-sam/

# Ignore CDK output
infra/cdk.out/

# Logs
logs/
*.log

# IDE
.vscode/
.idea/
.DS_Store